<div
  class="d-flex mb-1 px-1"
  [ngClass]="{ 'justify-content-end': message.isOutgoing }"
>
  <div
    class="message-bubble p-3 rounded-4"
    [ngClass]="{
      'message-user': message.isOutgoing,
      'message-assistant bg-light': !message.isOutgoing,
      'rounded-bottom-end-1': message.isOutgoing,
      'rounded-bottom-start-1': !message.isOutgoing
    }"
  >
    <div *ngIf="!message.isOutgoing; else elseBlock">
      <div
        [innerHTML]="message.markdown"
        id="markdown-preview"
        class="message-content"
      ></div>
    </div>

    <ng-template #elseBlock>
      <div class="message-content">{{ message.content }}</div>
    </ng-template>
  </div>
</div>
